streamlit
streamlit_extras
streamlit-option-menu
keras
lightgbm
matplotlib
numpy
pandas
parcels
plotly
scikit-learn
scikit-plot
scipy
six
spacy
spacy-legacy
spacy-loggers
sparse
tsfresh
xgboost
